<h1><%= @composition.name %></h1>

<p>
  <b>Artist:</b>
  <%= @composition.artist %></p>
<p>
  <b>On Display?:
  </b><%= @composition.on_display %></p>
<p>
  <b>Year Made:
  </b><%= @composition.year_made %></p>
