<center>
  <h1>Relational Rails</h1>
  <h2>Chloe P and Stephanie H</h2>
</center>
<br>
<h3><%= link_to 'Museums', "/museums/#index" %></h3>
<h3><%= link_to 'Compositions', "/compositions/#index" %></h3>
