<h1>Gyms</h1>

<% @gyms.each do |gym| %>
<h2><b><%= link_to gym.name, "/gyms/#{gym.id}" %></h2>

<%= link_to "Edit #{gym.name}", "/gyms/#{gym.id}/edit" %>
<br>
<%= link_to "Delete #{gym.name}", "/gyms/#{gym.id}", method: :delete %>
<br>
<% end %>
<br>
<br>
<%= link_to 'New Gym', '/gyms/new' %>
